<html>
    <head>
        <title>{% block title %}Default title{% endblock %}</title>
    </head>
    <body>
        <h1>{% block h1 %}Default h1{% endblock %}</h1>

        <nav>
            <ul>
                <li><a href="/search/Piazza Duca d'Aosta/in/Milano">/search/Piazza Duca d'Aosta/in/Milano</a></li>
                <li><a href="/business/le-pietre-delle-meraviglie-milano-2">/business/le-pietre-delle-meraviglie-milano-2</a></li>
                <li><a href="/phone/+390289402622">/phone/+390289402622</a></li>
            </ul>
        </nav>

        <div id="content">
            {% block content %}
                ?!?!?!!
            {% endblock %}
        </div>
    </body>
</html>
